<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <style>
        .left{
            position: relative;
        }
        .crossbtn{
            cursor: pointer;
            font-size: 1.5rem;
            position: absolute;
            top: .1rem;
            right: 7rem;
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h3>Indian Premium Coffee</h3>
                <!-- <img src="/public/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard"> -->
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/view_user"> <i class="icon material-icons md-person"></i>
                        <span class="text">View User</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productList" class="active">Product List</a>
                        <a href="/admin/category">Categories</a>
                        <a href="/admin/flavours">Flavours</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/public/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/public/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/public/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/public/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div> -->
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="post" action="/admin/edit_Product" onsubmit="validateForm(event)" enctype="multipart/form-data">
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. Product name</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" id="name" value="<%= product.ProductName%>" onkeyup="validateName()" name="name" required>
                                            <span class="error text tex-danger"  id="productError"></span>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Description</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">About</label>
                                            <textarea class="form-control" rows="4" id="description" name="description" onkeyup="validateDescription()" value="<%= product.Description%>" required><%= product.Description%></textarea>
                                            <span class="error text tex-danger"  id="desError"></span>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Cost</label>
                                            <input type="text" class="form-control" id="price" name="price" onkeyup="validatePrice()" value="<%= product.price%>" required>
                                            <span class="error text tex-danger"  id="priceError"></span>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Quantity</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Number</label>
                                            <input type="text" class="form-control" id="quantity" name="quantity" onkeyup="validateQuantity()" value="<%= product.quantity%>" required>
                                            <span class="error text tex-danger"  id="quantityError"></span>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>5. Category</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <select class="form-control" name="category" id="category">
                                                <option value="<%= product.category.id%>"><%= product.category.name%></option>
                                                <%if(locals.categories){ %>
                                                    <% categories.forEach((category)=>{ %>
                                                        <option value="<%= category._id%>"><%= category.name%></option>
                                                    <% }) %>
                                                <%  } %>
                                            </select>
                                            <span class="error text tex-danger"  id="categoryError"></span>

                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>6. Flavours</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <select class="form-control" name="flavour" id="flavour">
                                                <option value="<%= product.flavour.id%>"><%= product.flavour.name%></option>
                                                <%if(locals.flavours){ %>
                                                    <% flavours.forEach((flavour)=>{ %>
                                                        <option value="<%= flavour._id%>"><%= flavour.name%></option>
                                                    <% }) %>
                                                <%  } %>
                                            </select>
                                            <span class="error text tex-danger"  id="flavourError"></span>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>7. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Images</label>
                                            <input type="file" id="imginput" onchange="validateImage()" name="images" multiple>
                                            <span class="error text tex-danger"  id="imageError"></span>
                                            <% for(let image of product.image){%>
                                                <div class="left">
                                                    <img src="/uploads/<%= image%>" class="img-lg"  alt="Item">
                                                    <div class="crossbtn" data-imgid="<%= image%>" data-proid="<%= product._id %>">&times;</div>    
                                                </div>
                                            <%} %>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->
                                <div class="d-grid">
                                    <button class="btn btn-primary">Update</button>
                                </div>
                            </form>
                            <span class="text-danger" id="submitError"> </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Indian Premium Coffee .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/js/productValidation.js"></script>

    <script src="/public/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/js/vendors/select2.min.js"></script>
    <script src="/public/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/js/main.js" type="text/javascript"></script>
    <script>
        async function imgdlt(imgid,proid){
            try {
                const res = await fetch(`/admin/editproduct/removeimage?imgid=${imgid}&proid=${proid}`)
                const data = await res.json()
                if(data){
                    console.log(data)
                    if(data.success){
                        window.location.reload()
                    }
                }else{

                }
            } catch (error) {
                console.log(error.message)
            }
        }
        const crossbtn = document.querySelectorAll('.crossbtn')
        crossbtn.forEach(el=>{
            el.addEventListener('click',()=>{
                console.log(el.dataset.imgid,el.dataset.proid)
                imgdlt(el.dataset.imgid,el.dataset.proid)
            })
        })
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>