<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user/css/maind134.css?v=3.4">
</head>

<body>
    <%-include('userheader.ejs')%>    
    <main class="main">
        <!-- <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div> -->
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(cart){%>
                                        <%if(cart.products.length>0){%>
                                            <%locals.cart.products.forEach(item=>{%>
                                                <tr>
                                                    <td class="image product-thumbnail"><img src="/uploads/<%=item.productID.image[0]%>" alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href=""><%= item.productID.ProductName%></a></h5>
                                                    </td>
                                                    <%if(item.productID.offerPrice!=0){%>
                                                        <td class="price" data-title="Price"><span class="pprice<%= item.productID._id%>"><%= item.productID.offerPrice%></span></td>
                                                    <%}
                                                    else{%>
                                                        <td class="price" data-title="Price"><span class="pprice<%= item.productID._id%>"><%= item.productID.price%></span></td>
                                                    <%}%>
                                                    <td class="text-center" data-title="Stock">
                                                        <div class="detail-qty border radius  m-auto">
                                                            <button class="qtyup" data-proid='<%= item.productID._id%>' data-stock="<%=item.productID.quantity%>"><i class="fi-rs-angle-small-up"></i></button>
                                                            <span class="qtyval"><%= item.quantity%></span>
                                                            <!-- <input type="hidden" class="stock" data-stock="<%item.productID.quantity%>"> -->
                                                            <button class="qtydown" data-proid='<%= item.productID._id%>'><i class="fi-rs-angle-small-down"></i></button>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" data-title="Cart">
                                                        <span class="cost<%= item.productID._id%>">Rs.<%= item.cost%> </span>
                                                    </td>
                                                    <td class="action" data-title="Remove"><a href="/cart/deleteItem?id=<%= item.productID._id%>" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                                </tr>
                                            <%})%>
                                        <% } else { %>
                                                <tr>
                                                    <td colspan="6" class="text-center">Your cart is empty.</td>
                                                </tr>
                                            <% } %>
                                            <tr>
                                                <td colspan="6" class="text-end">
                                                    <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                                </td>
                                            </tr>
                                   
                                    
                                    <%}else { %>
                                        <tr>
                                            <td colspan="6" class="text-center">Your cart is empty.</td>
                                        </tr>
                                    <% } %>   
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div> -->
                        <div class="divider center_icon mt-50 mb-50"></div>
                        <div class="row mb-50">
                            <!-- Coupons Section -->
                            <div class="col-lg-6 col-md-12">
                                <div class="heading_s1 mb-3">
                                    <h4>Coupons</h4>
                                </div>
                                <!-- Coupon Listing -->
                                <!-- Inside the body or a card container -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="coupon-list mb-30" style="max-height: 200px; overflow-y: auto;">
                                            <% if (coupons) { %>
                                                <% coupons.forEach(coupon => { %>
                                                    <!-- Inside the Coupon Listing section -->
                                                    <div class="coupon-item">
                                                        <div class="coupon-code-container">
                                                            <span class="coupon-code"><%= coupon.couponCode %></span>
                                                            <p class="coupon-details">Min Purchase : Rs.<%= coupon.minAmount%> Discount: Rs.<%= coupon.discountPrice%></p>
                                                            <button class="btn btn-sm copy-coupon" onclick="copyCoupon('<%= coupon.couponCode %>')">Copy</button>
                                                        </div>
                                                        
                                                    </div>
                                                    <!-- Add more coupons as needed -->
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                                <!-- Apply Coupon Form -->
                                <% if(cart) { %>
                                    <%if(cart.products.length>0){%>
                                        <div class="mb-30 mt-50">
                                            <div class="heading_s1 mb-3">
                                                <h4>Apply Coupon</h4>
                                            </div>
                                            <div class="total-amount">
                                                <div class="left">
                                                    <div class="coupon">
                                                            <div class="form-row row justify-content-center">
                                                                <div class="form-group col-lg-6">
                                                                    <input class="font-medium" name="Coupon" id="coupon" placeholder="Enter Your Coupon">
                                                                </div>
                                                                <div class="form-group col-lg-6">
                                                                    <button class="btn btn-sm" onclick="couponApply()"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%}%>
                                <%}%>
                            </div>
                        
                            <% if(cart) { %>
                                <%if(cart.products.length>0){%>
                                    <!-- Cart Totals Section -->
                                    <div class="col-lg-6 col-md-12">
                                        <div class="border p-md-4 p-30 border-radius cart-totals">
                                            <div class="heading_s1 mb-3">
                                                <h4>Cart Totals</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="cart_total_label">Cart Subtotal</td>
                                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" id="subtotal">Rs.<%= cart.subTotal %></span></td>
                                                        </tr>
                                                        <!-- Coupon Applied Section -->
                                                        <% if(cart.coupon){ %>
                                                            <tr id="coupon-applied-row">
                                                                <td class="cart_total_label">Coupon Applied</td>
                                                                <td class="cart_total_amount">
                                                                    <span class="font-lg fw-900 text-brand" id="applied-coupon">-Rs.<%= cart.coupon.discountPrice %></span>
                                                                    <!-- Add Remove Button -->
                                                                    <button class="btn btn-sm btn-danger" onclick="removeCoupon()">Remove</button>
                                                                </td>
                                                            </tr>
                                                        <% }
                                                        else { %>
                                                            <tr id="coupon-applied-row">
                                                                <td class="cart_total_label">Coupon Applied</td>
                                                                <td class="cart_total_amount">
                                                                    <span class="font-lg fw-900 text-brand" id="applied-coupon">-</span>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                        <tr>
                                                            <td class="cart_total_label">Shipping</td>
                                                            <td class="cart_total_amount"><i class="ti-gift mr-5"></i> Free Shipping</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Total</td>
                                                            <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand" id="total">Rs.<%= cart.billTotal %></span></strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                            <a href="/checkout" class="btn "><i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                        </div>
                                    </div>
                                <% } %> 
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('userFooter.ejs')%>

    <script>
        const qtyup = document.querySelectorAll('.qtyup')
        const qtydown = document.querySelectorAll('.qtydown')
        const qtyval = document.querySelectorAll('.qtyval')
        const stock = document.querySelectorAll('.stock')
        console.log(stock)
        qtyup.forEach(el=>{
            console.log(stock)
            el.addEventListener('click',async ()=>{
                const pid = el.dataset.proid
                const currentcon = el.closest('.detail-qty') 
                const currentqty = parseInt(currentcon.querySelector('.qtyval').innerHTML)
                const stock = el.dataset.stock
                console.log(stock,"ff"+currentqty)
                if(currentqty + 1 <= stock){
                let funcdata = await increment(pid)
               if(funcdata){
                const currentcont = el.closest('.detail-qty') 
                const currentval = parseInt(currentcont.querySelector('.qtyval').innerHTML)
                const currentPrice = parseInt(document.querySelector(`.pprice${pid}`).innerHTML)
                console.log(currentPrice)
                const currentTotal = document.querySelector(`.cost${pid}`)
                const total = currentPrice * (currentval + 1)
                currentTotal.innerHTML = "Rs."+total
                currentcont.querySelector('.qtyval').innerHTML = currentval + 1
                console.log(total)
                const subtotal = parseInt(document.getElementById('subtotal').innerHTML.split('.')[1])
                const newTotal = subtotal + currentPrice
                document.getElementById('subtotal').innerHTML = `Rs.${newTotal}`
                const grandTotal = parseInt(document.getElementById('total').innerHTML.split('.')[1])
                const newGrandTotal = currentPrice + grandTotal
                document.getElementById('total').innerHTML = `Rs.${newGrandTotal}`
               }
                }
               
            })
        })
        qtydown.forEach(el=>{
            el.addEventListener('click',async ()=>{
                const currentcon = el.closest('.detail-qty') 
                const currentqty = parseInt(currentcon.querySelector('.qtyval').innerHTML)
                const pid = el.dataset.proid
               if(currentqty - 1 >= 1){
                let funcdata = await decrement(pid)
               if(funcdata){
                const currentcont = el.closest('.detail-qty') 
                const currentval = parseInt(currentcont.querySelector('.qtyval').innerHTML)
                const currentPrice = parseInt(document.querySelector(`.pprice${pid}`).innerHTML)
                console.log(currentPrice)
                const currentTotal = document.querySelector(`.cost${pid}`)
                const total = currentPrice * (currentval - 1)
                currentTotal.innerHTML = total
                currentcont.querySelector('.qtyval').innerHTML = currentval - 1
                console.log(total)
                const subtotal = parseInt(document.getElementById('subtotal').innerHTML.split('.')[1])
                const newTotal = subtotal - currentPrice
                document.getElementById('subtotal').innerHTML = `Rs.${newTotal}`
                const grandTotal = parseInt(document.getElementById('total').innerHTML.split('.')[1])
                const newGrandTotal =  grandTotal - currentPrice 
                document.getElementById('total').innerHTML = `Rs.${newGrandTotal}`
               }}
            })
        })
        
        function increment(id){
            console.log('increment')
           return fetch(`/increment?id=${id}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                }
            })
            .then(Response=>{
                
                return Response.json()
            })
            .then(data=>{
                console.log(data.success)
                if(data.success){
                    return true
                }
            })
            .catch(error=>{
                console.log(error)
            })
        }

        function decrement(id){
            console.log('decrement')
           return fetch(`/decrement?id=${id}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                }
            })
            .then(Response=>{
                
                return Response.json()
            })
            .then(data=>{
                console.log(data.success)
                if(data.success){
                    return true
                }
            })
            .catch(error=>{
                console.log(error)
            })
        }
        function couponApply(){
            
            const couponApplied = document.getElementById('coupon').value
            console.log(couponApplied)
            return fetch(`/couponApply?coupon=${couponApplied}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                },
            })
            .then(response => {
                window.location.reload();
                console.log(response);
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error);
            });
        }

        function copyCoupon(couponCode) {
            // Create a temporary input element
            var tempInput = document.createElement('input');

            // Set the input value to the coupon code
            tempInput.value = couponCode;

            // Append the input element to the document
            document.body.appendChild(tempInput);

            // Select the input value
            tempInput.select();
            tempInput.setSelectionRange(0, 99999); // For mobile devices

            // Copy the selected text to the clipboard
            document.execCommand('copy');

            // Remove the temporary input element
            document.body.removeChild(tempInput);
            alert('Coupon code ' + couponCode + ' copied to clipboard!');
        }
        function removeCoupon(){
            let remove_Coupon = document.getElementById('applied-coupon').textContent
            return fetch(`/couponRemove`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                },
            })
            .then(response => {
                // Handle the response if needed
                window.location.reload();
                console.log(response);
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error);
            });
        }
    </script>
    <!-- Vendor JS-->
    <script src="/public/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/js/plugins/slick.js"></script>
    <script src="/public/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/js/plugins/wow.js"></script>
    <script src="/public/user/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/js/plugins/select2.min.js"></script>
    <script src="/public/user/js/plugins/waypoints.js"></script>
    <script src="/public/user/js/plugins/counterup.js"></script>
    <script src="/public/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/js/plugins/images-loaded.js"></script>
    <script src="/public/user/js/plugins/isotope.js"></script>
    <script src="/public/user/js/plugins/scrollup.js"></script>
    <script src="/public/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user/js/maind134.js?v=3.4"></script>
    <script src="/public/user/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>