<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user/css/maind134.css?v=3.4">
    <style>
        .layout-menu li{
            margin: 15px 5px;
        }
        #orderCard {
            display: flex;
            width: 80%;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: auto;
        }

        #productImage {
            width: 40%;
            object-fit: cover;
        }

        #orderDetails {
            width: 60%;
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
            margin-left: 30px;
            color: #0962f2;
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.5rem; /* Adjust font size as needed */
            color: #19010d;
            margin-bottom: 10px;
        }

        p {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <%-include('userheader.ejs')%>   
        <div id="orderCard">
            <img id="productImage" src="/uploads/<%= orderDetails.product_Detail.productID.image[0]%>" alt="Product Image">
    
            <div id="orderDetails">
                <h1>Order Details</h1>
                <div class="ms-auto">
                    <% if (orderDetails.product_Detail.status === 'Placed') { %>
                        <a href="/order/getInvoice"><button id="invoice" class="btn btn-primary text-end">Invoice</button></a>  
                    <% } else if (orderDetails.product_Detail.status === 'Delivered') { %>
                        <a href="/order/getInvoice"><button id="invoice" class="btn btn-primary text-end">Invoice</button></a>
                    <% } %>
                </div>
    
                <!-- Payment Gateway Information -->
                <section>
                    <h2>Payment Gateway Details</h2>
                    <p>Payment Method: <%= orderDetails.paymentMethod %></p>
                    <!-- Add more payment details as needed -->
                </section>
    
                <!-- Product Details -->
                <section>
                    <h2>Product Details</h2>
                    <p>Product Name: <%= orderDetails.product_Detail.productID.ProductName %></p>
                    <p>Price: Rs.<%= orderDetails.product_Detail.cost %></p>
                    <p>Quantity: <%= orderDetails.product_Detail.quantity %></p>
                    <!-- Add more product details as needed -->
                </section>
    
                <!-- Shipment Address -->
                <section>
                    <h2>Shipment Address</h2>
                    <p>Name: <%= orderDetails.shipmentAddress.Name %></p>
                    <p>Address: <%= orderDetails.shipmentAddress.Address %></p>
                    <p>Locality: <%= orderDetails.shipmentAddress.Locality %></p>
                    <p>Pincode: <%= orderDetails.shipmentAddress.Pincode %></p>
                    <p>City: <%= orderDetails.shipmentAddress.City %></p>
                    <p>State: <%= orderDetails.shipmentAddress.State %></p>
                    <p>Country: <%= orderDetails.shipmentAddress.Country %></p>
                    <p>Mobile: <%= orderDetails.shipmentAddress.Mobile %></p>
                    <!-- Add more address details as needed -->
                </section>
            </div>
        </div>
    
    <%-include('userFooter.ejs')%>
    <!-- Preloader Start -->
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('invoice').addEventListener('click', function (e) {

                var orderedItems = JSON.parse(product_Detail);

                console.log(orderedItems);

                e.preventDefault();

                Swal.fire({
                    title: 'Do you want to download Invoice?',
                    showCancelButton: true,
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel'
                }).then(function (result) {
                    if (result.isConfirmed) {
                        var filteredProducts = orderedItems.products.filter(function (product) {
                            return product.orderStatus !== "Cancelled";
                        });
                        var products = filteredProducts.map(function (product) {
                            return {
                                quantity: product.quantity,
                                description: product.productName,
                                tax: 0,
                                price: product.productPrice
                            };
                        });
                        console.log(products, 'productsproducts')

                        if (filteredProducts[0].couponAmount > 0) {
                            products.push({
                                quantity: 1,
                                description: "Coupon Deduction",
                                tax: 0,
                                price: -orderedItems.couponAmount,
                            });
                        }

                        var data = {
                            "apiKey": "free",
                            "mode": "development",
                            "documentTitle": "INVOICE Indian Premium Coffee",
                            "currency": "INR",
                            "taxNotation": "GST",
                            "marginTop": 25,
                            "marginRight": 25,
                            "marginLeft": 25,
                            "marginBottom": 25,
                            "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
                            "sender": {
                                "company": "Indian Premium Coffee",
                                "address": "Maradu,Kundanoor",
                                "zip": "689123",
                                "city": "Kochi",
                                "country": "India"
                            },
                            "client": {
                                "company": orderedItems.address.name,
                                "address": orderedItems.address.house,
                                "zip": "5678 CD",
                                "city": orderedItems.address.city,
                                "country": orderedItems.address.country
                            },
                            "invoiceNumber": "2021.0001",
                            "invoiceDate": "12-03-2024",
                            "products": products,
                            "bottomNotice": "Thank you for your business."
                        };
                        console.log(data);

                        easyinvoice.createInvoice(data, function (err,result) {
                            if(err){
                                console.log(err)
                            }
                            easyinvoice.download('Tone Hive -invoice.pdf', result.pdf);
                            console.log("success");
                        });
                    }
                });
            });
        });

    </script>

    <!-- Vendor JS-->
    <script src="/public/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/js/plugins/slick.js"></script>
    <script src="/public/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/js/plugins/wow.js"></script>
    <script src="/public/user/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/js/plugins/select2.min.js"></script>
    <script src="/public/user/js/plugins/waypoints.js"></script>
    <script src="/public/user/js/plugins/counterup.js"></script>
    <script src="/public/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/js/plugins/images-loaded.js"></script>
    <script src="/public/user/js/plugins/isotope.js"></script>
    <script src="/public/user/js/plugins/scrollup.js"></script>
    <script src="/public/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user/js/maind134.js?v=3.4"></script>
    <script src="/public/user/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>